body {
	height: 100%;
	font-family: 'Optima', 'Futura';
	text-transform: lowercase;
}

.night-bg {
	background: -webkit-linear-gradient(black, #181818, #202020, #303030, #505050); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(black, #181818, #202020, #303030, #505050); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(black, #181818, #202020, #303030, #505050); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(black, #181818, #202020, #303030, #505050); /* Standard syntax */
  	text-shadow: 1px 1px black, -.5px -1px #444;
  	color: #202020;
  	
}

.day-bg {
	background: -webkit-linear-gradient(#0099FF, #996666); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#0099FF, #996666); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#0099FF, #996666); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#0099FF, #996666); /* Standard syntax */
  	height: 100%;
	font-family: 'Optima', 'Futura';
	text-transform: lowercase;
	text-shadow: 1px .5px "navy blue", -.5px -1px yellow;
	color: #0088CC;
}

.main {
	font-size: 3em;
	text-align: center;
}

ul li {
	display: inline-block;
	list-style-type: none;
}

ul { 
	padding: 0;
	margin-top: 0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}

.current {
	color: #6699CC;
	opacity: 1;
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
        opacity: 1;
}

.current-light {
	color: #6699CC;
	opacity: 1;
	text-shadow: 0 0 0.2em #ffF, 0 0 0.2em #ffF,
        0 0 0.2em #ffF;
        opacity: 1;

}
.current-dark {
	color: #6699CC;
	opacity: 1;
	text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;
        opacity: 1;
}
.min {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-top: 0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;

}
.zero {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-top: 0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}
.hours {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-top: 0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
}

.words {
	display: inline-block;
	padding: 0px 0px 0px 0px;
	margin-top: 0;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;

	/*border: 1px solid white;*/
}
.night {
	margin-top: -10px;
	margin-bottom: -10px;
	padding-top: 0px;
	line-height: 90%;
}
.day {
	margin-top: -10px;
	line-height: 80%;
}

.line-hgt {
	line-height: 80%;
}

@media only screen and (max-width: 400px)  {

	.main {
		font-size: 2em;
	}

}